* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* common style */
img {
  height: 200px;
}
 .why {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}
h3 {
  padding: 30px;
}
/* utilies */
.empty {
  height: 100px;
}
.margin {
  margin-top: 80px;
}

/* style header */
.title {
  padding-top: 100px;
}

/* style main */
.grey {
  background-color: #f9f9f9;
}
